body {
    background-color: rgb(37, 36, 36);
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    color: white;
    background-color: rgb(22, 20, 20);
    padding: 5%;
    margin: auto;
    text-align: center;
    border-radius: 20px;
    width: 300px;
    



    


}

figure {
    margin: 0;
}

.profile {
    border-radius: 100px;
    display: block;
    margin: 0 auto;
    width: 150px;
}
.location {
    color: limegreen;
}
.links {
            display: block;
            background-color: #2e2929; /* Gray background */
            color: white;
            padding: 10px;
    margin-bottom: 10xpx;    /* Space between links*/
            border-radius: 10px;
            text-decoration: none;  
            

}